{% macro render(opts) %}
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-header">
			<div class="box-header__heading">
				<p class="box-header__headingText box-header__headingText{{opts.content1.id}}">{{opts.content1.heading}}</p>
			</div>
			<div class="box-header__description">
				<p class="box-header__description1">{{opts.content1.description1}}</p>
				<p class="box-header__description1">{{opts.content1.description2}}</p>
				<p class="box-header__description1">{{opts.content1.description3}}</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-header">
			<div class="box-header__heading box-header__headingText{{opts.content2.id}}">
				<p class="box-header__headingText">{{opts.content2.heading}}</p>
			</div>
			<div class="box-header__description">
				<p class="box-header__description1">{{opts.content2.description1}}</p>
				<p class="box-header__description1">{{opts.content2.description2}}</p>
				<p class="box-header__description1">{{opts.content2.description3}}</p>
				<p class="box-header__description1">{{opts.content2.description4}}</p>
				<p class="box-header__description1">{{opts.content2.description5}}</p>
				<p class="box-header__description1">{{opts.content2.description6}}</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-header">
			<div class="box-header__heading box-header__headingText{{opts.content3.id}}">
				<p class="box-header__headingText">{{opts.content3.heading}}</p>
			</div>
			<div class="box-header__description">
				<p class="box-header__description1">{{opts.content3.description1}}</p>
				<p class="box-header__description1">{{opts.content3.description2}}</p>
				<p class="box-header__description1">{{opts.content3.description3}}</p>
				<p class="box-header__description1">{{opts.content3.description4}}</p>
				<p class="box-header__description1">{{opts.content3.description5}}</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-header">
			<div class="box-header__heading box-header__headingText--{{opts.content4.id}}">
				<p class="box-header__headingText">{{opts.content4.heading}}</p>
			</div>
			<div class="box-header__description">
				<p class="box-header__description1">{{opts.content4.description1}}</p>
			</div>
		<div class="box-search1">
			<input type="text" class="box-search__input1" placeholder="Search">
			<div class="box-search__icon1">
				<p>Join</p>
			</div>
		</div>
		</div>
	</div>
  <div class="col-lg-12">
		<div class="box-header">
			<div class="box-header__heading box-header__headingText{{opts.content5.id}}">
				<p class="box-header__headingText">{{opts.content5.description}}</p>
			</div>
		</div>
	</div>
{% endmacro %}
